
@model Domain.Client
<h2>Редактировать клиента</h2>
<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <label>Имя:</label>
    <input asp-for="Name" />
    <label>Фамилия:</label>
    <input asp-for="LName" />
    <label>Телефон:</label>
    <input asp-for="Phone" />
    <label>Email:</label>
    <input asp-for="Email" />
    <button type="submit">Сохранить</button>
</form>
